<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/login" method="POST">
        <label for="userName">用户名:<input type="text" id="userName" name="userName" /></label>
        <label for="password">密码:<input type="text" id="password" name="password" /></label>
        <button type="submit">登录</button>
        <button type="reset">重置</button>
        
    </form>
	<h4 th:text="${msg == null ? '' : msg}"></h4>
</body>
</html>
